nav {
    font-size: 12pt;
    font-family: 'PT Sans', Arial, sans-serif;
    position: relative;
}
nav ul{
    padding: 0;
    margin: 0 auto;
    width: auto;
}
nav li{
}
nav a{
    line-height: 50px;
    height: 50px;
}
nav li a{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
nav li:last-child a{
    border-right: 0;
}
nav a:hover, nav a:active{
}
html{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

ul{
    margin: 0;
    padding: 0;
    background-color: #333;
    text-align: center;
}
li{
    display: inline-block;
}
li a{
    color: #FFFFFF;
    text-align: center;
    padding: 14.5px 16px;
    text-decoration: none;
}
li a:hover{
    color: #000000;
    font-weight: normal;
}
.menu{
    width: 5000px;
    height: 50px;
    text-align: center;
    max-width: 100%;
    background-position: cover;
    background-color: #6c75ad;
    position: absolute; z-index: 1;
}

.infoimg {
    position: absolute;
    top: 230px;
    left: 150px;
}

.infotext{
    font-size: 70px;
    position: absolute;
    text-align: left;
    top: 330px;
    left: 800px;
    color: #FFFFFF;
    font-family: 'Cafe24 Ohsquare';
}
.hey{
    font-size: 90px;
}

.img1{
    position: absolute;
    top: 90px;
    left: 650px;
}

div{
    color: #FFFFFF;
    font-family: 'Cafe24 Ohsquare';
    font-size: 13px;
}

.re1 {
    width: 80px;
    height: 30px;
    border-radius: 20px;
    display: table-cell;
    vertical-align: middle;
    background-color: #333;
    text-decoration-color: #FFFFFF;
    text-align: center;
    position: absolute;
    top: 590px;
    left: 820px;
}
.t2 {
    position: absolute;
    top: 628px;
    left: 800px;
}

.re2 {
    width: 110px;
    height: 30px;
    border-radius: 20px;
    display: table-cell;
    vertical-align: middle;
    background-color: #333;
    text-decoration-color: #FFFFFF;
    text-align: center;
    position: absolute;
    top: 657px;
    left: 805px;
}
.t3 {
    position: absolute;
    top: 693px;
    left: 827px;
}


.re3 {
    width: 55px;
    height: 30px;
    border-radius: 20px;
    display: table-cell;
    vertical-align: middle;
    background-color: #333;
    text-decoration-color: #FFFFFF;
    text-align: center;
    position: absolute;
    top: 715px;
    left: 830px;
}
.t4 {    
    position: absolute;
    top: 750px;
    left: 845px;
}
.re4 {
    width: 70px;
    height: 28px;
    border-radius: 20px;
    display: table-cell;
    vertical-align: middle;
    background-color: #333;
    text-decoration-color: #FFFFFF;
    text-align: center;
    position: absolute;
    top: 530px;
    left: 825px;
}
.t1 {
    position: absolute;
    top: 565px;
    left: 830px;
}


.re5 {
    width: 110px;
    height: 30px;
    border-radius: 20px;
    display: table-cell;
    vertical-align: middle;
    background-color: #333;
    text-decoration-color: #FFFFFF;
    text-align: center;
    position: absolute;
    top: 775px;
    left: 805px;
}
.t5 {
    position: absolute;
    top: 810px;
    left: 785px;
}

.re6 {
    width: 110px;
    height: 30px;
    border-radius: 20px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    top: 850px;
    left: 670px;
}

.p {
    font-size: 300px;
}

.video{
    position: absolute;
    top: 280px;
    left: 30px;
}
.video2 {
    position: absolute;
    top: 280px;
    right: 250px;
}

.text1{
    font-family: 'Cafe24 Ohsquare';
    font-size: 20px;
    position: absolute;
    top: 250px;
    left: 170px;
}
.text2 {
    font-family: 'Cafe24 Ohsquare';
    font-size: 20px;
    position: absolute;
    top: 250px;
    right: 350px;
}

.insta {
    position: absolute;
    top: 550px;
    right: 800px;
}
.github {
    position: absolute;
    top: 560px;
    right: 640px;
}
.blog {
    position: absolute;
    top: 560px;
    right: 473px;
}

.rr {
    width: 110px;
    height: 3px;
    border-radius: 20px;
    background-color: #8894df;
    position: absolute;
    top: 600px;
    right: 790px;
    opacity: 0.0;
}
.rr:hover {
    background-color: #333;
    opacity: 1.0;
}

.rr2 {
    width: 110px;
    height: 3px;
    border-radius: 20px;
    background-color: #8894df;
    position: absolute;
    top: 600px;
    right: 625px;
    opacity: 0.0;
}
.rr2:hover {
    background-color: #333;
    opacity: 1.0;
}

.rr3 {
    width: 110px;
    height: 3px;
    border-radius: 20px;
    background-color: #8894df;
    position: absolute;
    top: 600px;
    right: 450px;
    opacity: 0.0;
}
.rr3:hover {
    background-color: #333;
    opacity: 1.0;
}

.contact-box {
    width: 80px;
    height: 30px;
    border-radius: 20px;
    background-color: #cdcdcd;
    position: absolute;
    top: 10px;
    right: 30px;
    color: #333;
}
.contact-box:hover {
    width: 170px;
    height: 140px;
}
.email {
    opacity: 0.0;
}
.contact-box:hover > .email{
    color: #6c75ad;
    position: absolute;
    top: 40px;
    font-size: 15px;
    font-family: 'Cafe24 Ohsquare';
    left: 10px;
    opacity: 1.0;
}

.phone {
    opacity: 0.0;
}

.contact-box:hover .phone {
    opacity: 1.0;
    color: #6c75ad;
    font-size: 15px;
    position: absolute;
    top: 90px;
    left: 10px;
}
.re_email{
    opacity: 0.0;
}
.contact-box:hover .re_email {
    opacity: 1.0;
    color: #333;
    font-size: 10px;
    position: absolute;
    top: 63px;
    left: 10px;
}

.re_phone{
    opacity: 0.0;
}
.contact-box:hover .re_phonea {
    opacity: 1.0;
    color: #333;
    font-size: 10px;
    position: absolute;
    top: 110px;
    left: 10px;
}
